body{

  font-family: "helvetica";
  font-size: 20px;
}

.teacherList{
  float:left;
  margin:auto;
  padding: 10px;
}




.form-group, .form-control {
  width: 80%;
  margin: 1em auto; }

.btn-primary{
  clear :both;
}
