<div class="jumbotron text-center">
<h2>There are {{teachersIndexVM.teachers.length}} great teachers you can get inspired by!</h2>


<div class="form-group">
  <input type="text" class="form-control" placeholder="Filter by Teacher Name" data-ng-model="teachersIndexVM.filter_on" />
</div>


  <div class ="teacherList" data-ng-repeat="teacher in teachersIndexVM.teachers | filter: teachersIndexVM.filter_on">
    <a data-ui-sref ="teachersShow(teacher)"><img data-ng- src="{{teacher.image_url}}"/></a>
    <h4>{{teacher.name}}</h4>
    <h4>{{teacher.category}}</h4>
  </div>  

<button data-ng-click="form=!form" class="btn-primary">Add a Inspiration</button>
<div class="form-group" data-ng-show="form">
  <input type="text" data-ng-model="teachersIndexVM.teacher.name" placeholder="Name" class="form-control"/>
  <input type="text" data-ng-model="teachersIndexVM.teacher.occupation" placeholder="Occupation" class="form-control"/>
  <input type="text" data-ng-model="teachersIndexVM.teacher.image_url" placeholder="Image_url" class="form-control"/>
  <input type="text" data-ng-model="teachersIndexVM.teacher.title" placeholder="Title" class="form-control"/>
  <input type="text" data-ng-model="teachersIndexVM.teacher.category" placeholder="Category" class="form-control"/>
  <input type="text" data-ng-model="teachersIndexVM.teacher.video_url" placeholder="Video_url" class="form-control"/>
  <input type="text" data-ng-model="teachersIndexVM.teacher.link_url" placeholder="Link_url" class="form-control"/>
  <input type="text" data-ng-model="teachersIndexVM.teacher.description" placeholder="Description" class="form-control"/>
  <input type="text" data-ng-model="teachersIndexVM.teacher.thoughts" placeholder="Thoughts" class="form-control"/>
  <button data-ng-click="teachersIndexVM.create()" class="btn btn-primary">Create</button>
</div>
</div>
