
<div data-ng-if="teachersShowVM.teacher.name">
  <h2>{{teachersShowVM.teacher.name}}</h2>
  <h4>{{teachersShowVM.teacher.occupation}}</h4>
  <img src="{{teachersShowVM.teacher.image_url}}"/>
  <h4>{{teachersShowVM.teacher.title}}</h4>
  <h4>{{teachersShowVM.teacher.category}}</h4>
  <h4>{{teachersShowVM.teacher.description}}</h4>
  <h4>{{teachersShowVM.teacher.thoughts}}</h4>
  <youtube-video video-url="teachersShowVM.teacher.video_url"></youtube-video>



<button class="btn btn-primary" data-ng-click="form=!form">Edit/Delete</button>
 <div class="form-group" data-ng-show="form">
   <input type="text" placeholder="Name" data-ng-model="teachersShowVM.teacher.name" class="form-control" />
   <input type="text" data-ng-model="teachersShowVM.teacher.occupation" placeholder="occupation" class="form-control" />
   <input type="text" data-ng-model="teachersShowVM.teacher.image_url" placeholder="image_url" class="form-control" />
   <input type="text" data-ng-model="teachersShowVM.teacher.title" placeholder="occupation" class="form-control" />
   <input type="text" data-ng-model="teachersShowVM.teacher.category" placeholder="occupation" class="form-control" />
   <input type="text" data-ng-model="teachersShowVM.teacher.video_url" placeholder="video_url" class="form-control" />
   <input type="text" data-ng-model="teachersShowVM.teacher.link_url" placeholder="link_url" class="form-control" />
   <input type="text" data-ng-model="teachersShowVM.teacher.description" placeholder="occupation" class="form-control" />
   <input type="text" data-ng-model="teachersShowVM.teacher.thoughts" placeholder="occupation" class="form-control" />
   <button data-ng-click="teachersShowVM.update()" class="btn btn-primary">Update</button>
   <button data-ng-click="teachersShowVM.delete()" class="btn btn-danger">Delete </button>
 </div>
